html, body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.options {
  display: flex;
  flex-direction: row;
  -webkit-transition: visibility 1s, opacity 1s linear;
  -moz-transition: visibility 1s, opacity 1s linear;
  -ms-transition: visibility 1s, opacity 1s linear;
  -o-transition: visibility 1s, opacity 1s linear;
}

.options.hide {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.toggleSession,
.toggleBreak {
  cursor: pointer;
}

.break--length,
.session--length {
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 25px;
}

.break--length > *,
.session--length > * {
  margin-left: 5px;
  margin-right: 5px;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 400px;
  border-radius: 50px;
  background: lightblue;
  margin-top: 20px;
  margin-bottom: 20px;
  transform: scale(0.97);
  -webkit-transition: transform 1.05s ease-in-out;
  -moz-transition:transform 1.05s ease-in-out;
  -ms-transition:transform 1.05s ease-in-out;
  -o-transition:transform 1.05s ease-in-out;
}

.timer.counting {
  transform: scale(1);
}

.time {
  font-size: 50px;
}
